@model ProductTestWork.ViewModels.AllProductsViewModel

@{
    ViewData["Title"] = "Products";
}

<h1>Products</h1>

<p>
    <a asp-action="Create">Create New Product</a>
</p>

@using (Html.BeginForm("Index", "Student", FormMethod.Get))
{
    <p>
        Find by name: @Html.TextBox("SearchString", Model.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Product Id", "Index", new { sortOrder = Model.IdSortParm, currentFilter = Model.CurrentFilter })
            </th>
            <th>
                @Html.ActionLink("Product Name", "Index", new { sortOrder = Model.NameSortParm, currentFilter = Model.CurrentFilter })
            </th>
            <th>
                @Html.ActionLink("Product Category", "Index", new { sortOrder = Model.CategorySortParm, currentFilter = Model.CurrentFilter })
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ProductList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryType)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ProductId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ProductId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

<div>
    <ul class="pagination">
        @for (var i = 1; i <= Model.PageCount; i++)
        {
        <li class="page-item @(i == Model.PageNumber ? "active" : "")">
            <a href="@Url.Action("Index", new { page = i, sortOrder = Model.CurrentSort, currentFilter = Model.CurrentFilter })" class="page-link">@i</a>
        </li>
        }
    </ul>
</div>